Chessboard
<div class="box">
  <div class="centered">

    <table class="chess-board">
      <tbody>
      <tr>
        <th></th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
        <th>g</th>
        <th>h</th>
      </tr>
      <tr>
        <th>8</th>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
      </tr>
      <tr>
        <th>7</th>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
      </tr>
      <tr>
        <th>6</th>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
      </tr>
      <tr>
        <th>5</th>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
      </tr>
      <tr>
        <th>4</th>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
      </tr>
      <tr>
        <th>3</th>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
      </tr>
      <tr>
        <th>2</th>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
      </tr>
      <tr>
        <th>1</th>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
        <td><app-blackcell></app-blackcell></td>
        <td><app-whitecell></app-whitecell></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
